<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Server" value="xxx.xxx.xxx.xxx,xxxx" />
        <add key="UserID" value="userid" />
        <add key="Password" value="password" />
        <add key="Database" value="db" />
    </appSettings>
</configuration>